################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/WcleAnimationLibrary/obj/Debug
/WinformControlLibraryExtension/obj/Debug
/WinformControlLibraryExtension.ComplexityPropertys/obj/Release
/WinformDemo/obj/x86/Debug
